@import url("null.css");

@font-face{
    font-family: "lato";
    src:url("../шрифты/Lato-Regular.woff2")format("woff2"),url("../шрифты/Lato-Regular.woff")format("woff");
    font-weight:400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "lato";
    src:url("../шрифты/Lato-Black.woff2")format("woff2"),url("../шрифты/Lato-Black.woff")format("woff");
    font-weight:700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "lato";
    src:url("../шрифты/Lato-Semibold.woff2")format("woff2"),url("../шрифты/Lato-Semibold.woff")format("woff");
    font-weight:900;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: "lato",sans-serif;
   font-size: 20px;
color: #424551;
}

.wrapper {
    
}
.header,.title{
   font-weight: 900;
   font-size:46px;
line-height: 1.3;
color: #1E212C;

}
.item-text {
font-weight: normal;
font-size: 16px;
line-height: 1.6;
color: #1E212C;
}
.text-1 {
font-weight:700;
line-height: 1.5;

}

.block-info {
font-weight:400;
font-size: 16px;
line-height: 1.6;

}
.info-text {
font-weight:700;
line-height: 1.5;
color: #1E212C;
text-indent: 50px;
text-align: center;

}
.block-text {
}
.list-info {
}
.list {
}